@define-color background #111111;  /*#1a1b26;*/
@define-color foreground #ffffff;  /*#a9b1d6;*/
@define-color focused #f8fe7a;     /* Neovim yellow */
@define-color occupied #8e6fbd;    /* Neovim purple */
@define-color empty #d2ccd6;       /*#565f89;*/
@define-color urgent #cc6666;      /* Neovim red */
@define-color bluetooth #2ac3de;

* {
  font-family: monospace;
  font-size: 12pt;
  min-height: 0px;
}

window#waybar {
  color: @foreground;
  background: @background;
  border: 1px solid rgba(169, 177, 214, 0.5);
 
  }

#tags button {
  padding: 0px 0px;
  color: @empty;
  border-radius: 0px;
}

#tags button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#tags button.occupied {
  color: @occupied;
  font-weight: bold;
}

#tags button.focused {
  color: @focused;
}

#tags button.urgent {
  color: @urgent;
}

#custom-record {
  color: @urgent;
}
#network
#bluetooth,
#battery,
#clock {
  padding: 0px 8px;
}
